    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Visitacion Valley Laundry</h1>
            <h3>Your trusted neighborhood launderer</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <p class="lead">Visitacion Valley Laundry is a cozy mom and pop shop owned and operated by Jian and Ann. They first opened its doors in 2001 with a mission to deliver honest, affordable, quality laundry and dry-cleaning services to their beloved neighbors.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>