    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Visitacion Valley Laundry</h1>
            <h3>Your trusted neighborhood launderer</h3>
            <br>
            <a href="#about" class="btn btn-lg">
              <span class="fa-stack fa-2x">
               <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
               <i class="fa fa-angle-double-down fa-stack-1x"></i>
              </span></a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <p class="lead">Visitacion Valley Laundry is a cozy mom and pop shop owned and operated by Jian and Ann. They first opened its doors in 2001 with a mission to deliver honest, affordable, quality laundry and dry-cleaning services to their beloved neighbors.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
<!--                                 <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-angle-double-down fa-stack-1x text-primary"></i>
                            </span> -->
                                <h4>
                                    <strong>Wash and Fold</strong>
                                </h4>
                                    <ul class="list-unstyled">
                                        <li>General Laundry $1.50/lb</li>
                                        <li>Blanket (S) $6 each</li>
                                        <li>Blanket (M) $8 each</li>
                                        <li>Blanket (L) $10 each</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
<!--                                 <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span> -->
                                <h4>
                                    <strong>Finish Laundry</strong>
                                </h4>
                                    <ul class="list-unstyled">
                                        <li>Shirts $1.90</li>
                                        <li>Pants $4.80</li>
                                        <li>Blouses $2.30</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
<!--                                 <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span> -->
                                <h4>
                                    <strong>Dry Cleaning</strong>
                                </h4>
                                    <ul class="list-unstyled">
                                        <li>Pants & Sweaters $5</li>
                                        <li>Blouses, Shirts $6</li>
                                        <li>Jacket $7+</li>
                                        <li>Suits $9.50</li>
                                        <li>Dresses & Coats $9.50+</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Visitacion Valley Laundry</strong>
                    </h4>
                    <p>108 Leland Ave
                        <br>San Francisco, CA 94134</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (415) 239-9030</li>
                        <li><i class="fa fa-clock-o fa-fw"></i> Monday - Saturday 10 AM - 7 PM</li>
                        <!-- <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">info@visitacionvalleylaundry.com</a> -->
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.yelp.com/biz/visitacion-laundry-san-francisco"><i class="fa fa-yelp fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Visitacion Valley Laundry 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>
