<!DOCTYPE html>
<html>
  <head>
    <title>Visitacion Valley Laundry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
  <!-- Navigation -->
  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">Menu <i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
          <li class="sidebar-brand">
              <a href="#top" onclick=$("#menu-close").click();>Vis Val Laundry</a>
          </li>
          <li>
              <a href="#about" onclick=$("#menu-close").click();>About</a>
          </li>
          <li>
              <a href="#services" onclick=$("#menu-close").click();>Services</a>
          </li>
          <li>
              <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
          </li>
      </ul>
  </nav>
    <%= yield %>
  </body>
</html>
